ConstructorInitializerIndentWidth: 4
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
#AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakBeforeMultilineStrings: true
BreakBeforeBinaryOperators: false
BreakBeforeTernaryOperators: true
BreakBeforeBinaryOperators: false
ColumnLimit: 96
MaxEmptyLinesToKeep: 1
ConstructorInitializerAllOnOneLineOrOnePerLine: false
IndentCaseLabels: false
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
SpacesBeforeTrailingComments: 1
SpaceInEmptyParentheses: false
SpaceAfterControlStatementKeyword: true
SpacesInAngles: false
SpacesInParentheses: false
SpacesInCStyleCastParentheses: false
Cpp11BracedListStyle: true
Standard: Cpp11
IndentWidth: 4
TabWidth: 4
UseTab: Always
BreakBeforeBraces: Linux
IndentFunctionDeclarationAfterType: true
#Language: Cpp
PointerBindsToType: false
AccessModifierOffset: -4
